<%- include partial/header.ejs %> 
	<div class="jumbotron">
		<h1><center>About Me</center></h1>
	</div>	
    <p>My Name is Michael Meissner and I currently live in Barrie, ON. I am a student at Georgian College in Barrie and I am enrolled in the computer programmer analsys program. I have enjoyed being around
	computers since a really young age, they have made sence to me. All that matters to me is after I graduate I find a job that I really enojoy so I can progress my learing through a fun and exciting career path.</p>
<% include partial/boot.ejs %>
<%- include partial/footer.ejs %> 