<%- include partial/header.ejs %> 
	<div class="jumbotron">
		<h1><center>Contact Me</center></h1>
	</div>	
	<center>
	<h2>Send an email to Michael:</h2>

	<!--Automatic email sender... way cooler than what I found on npm-->
	
		<a id="foxyform_embed_link_712707" href="http://www.foxyform.com/">foxyform</a>
		<script type="text/javascript">
		(function(d, t){
		var g = d.createElement(t),
		s = d.getElementsByTagName(t)[0];
		g.src = "http://www.foxyform.com/js.php?id=712707&sec_hash=8e685b00cf3&width=350px";
		s.parentNode.insertBefore(g, s);
		}(document, "script"));
	</script>
	</center>

<% include partial/boot.ejs %>
<%- include partial/footer.ejs %> 