<%- include partial/header.ejs %> 
	<div class="jumbotron">
		<h1><center>Home</center></h1>
	</div>	
    <p>Welcome to my portfolio you can use the header tabs to navigate to different parts of the website to get to know me and my work better.</p>
<% include partial/boot.ejs %>
<%- include partial/footer.ejs %> 
