<%- include partial/header.ejs %> 
<div class="jumbotron">
	<h1><center>Projects</center></h1>
</div>	
	<center>
	<p>Arduino Project</p>
	
    <iframe id="ytplayer" type="text/html" width="640" height="390"
	src="http://www.youtube.com/embed/OGvN8-Z5zEY?autoplay=0"
	frameborder="0">
	</iframe>
	
	<p>Java Project (Employee and Products)</p>
	<a href="http://www.mediafire.com/download/qsjcgumv9maq4km/assignment1.zip">Download</a>
	</center>
<% include partial/boot.ejs %>
<%- include partial/footer.ejs %> 