<%- include partial/header.ejs %> 
<div class="jumbotron">
	<h1><center>Services</center></h1>
</div>	
    <p>I am currently learning about:</p>
	<ul>
		<li>Html</li>
		<li>PHP</li>
		<li>Java</li>
		<li>nodeJS</li>
		<li>Project Managment</li>
		<li>SQL</li>
		<li>CSS</li>
	</ul>
	<p>and so much more!!!</p>
	<center>
	<div>
			<img src="images\HTML5_logo.png" alt="HTML 5 Logo" style="width:200px;height:240px;">
			<img src="images\java_logo.png" alt="Java Logo" style="width:200px;height:200px;">
			<img src="images\nodejs_logo.png" alt="Nodejs Logo" style="width:200px;height:100px;">
	</div>	
	</center>
<% include partial/boot.ejs %>
<%- include partial/footer.ejs %> 